<configuration>
    <property name="LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} %-5level %logger{36} -- %msg%n"/>
    <property name="LOG_DIR" value="logs"/>
    <property name="LOG_FILE" value="application.log"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File Appender for logging to a file -->
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${LOG_FILE}</file>
        <append>false</append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</configuration>